* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    padding: 30px 80px;
}

header {
    height: 30vw;
    background-image: url('./images//desktop/image-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.burger {
    display: none;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    border-bottom: 3px solid white;
}

header p {
    margin-top: 50PX;
    color: white;
    border: 2PX solid white;
    width: 310PX;
    font-size: 40PX;
    padding: 10PX;
}

.one {

    margin-top: 20px;
    position: relative;

}

.img {
    background-image: url('./images/desktop/image-interactive.jpg');
    background-repeat: no-repeat;
    width: 60%;
    height: 500px;
}

.text {

    background-color: white;
    padding: 40px;
    width: 40%;
    position: absolute;
    right: 25%;
    top: 50%;
    width: 40%;
    padding: 70px;
    color: rgb(70, 68, 68);
}



h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.text p {
    line-height: 2;
}

.two {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.two h2 {
    font-size: xx-large;
    font-weight: 400;
}

button {
    padding: 10px 20px;
}

button:hover {
    background-color: black;
    color: white;
}

.cards {
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

.card {
    margin-bottom: 20px;
    width: calc(25% - 20px);
    height: 320px;
    position: relative;


}

h3 {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 20px;
    padding: 15px 30px;

}

.photo-one {
    background-image: url('./images/desktop/image-deep-earth.jpg');
    background-repeat: no-repeat;
    height: 100%;
}

.photo-two {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('./images/desktop/image-night-arcade.jpg');
}

.photo-three {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('./images/desktop/image-soccer-team.jpg');
}

.photo-four {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('./images/desktop/image-grid.jpg');
}

.photo-five {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('./images/desktop/image-from-above.jpg');
}

.photo-six {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('./images/desktop/image-pocket-borealis.jpg');
}

.photo-seven {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('./images/desktop/image-curiosity.jpg');
}

.photo-eight {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('./images/desktop/image-fisheye.jpg');
}

.dontsea {
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.left {

    width: 50%;
}

.right {

    width: 50%;
}

.left nav {
    margin-top: 20px;
}



.right div {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    margin-bottom: 20px;
}

.right p {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 900px) {


    .text {
        align-items: center;
    }

    .img {
        background-image: url('./images/mobile/image-interactive.jpg');
        width: calc(96vw - 15px);
        padding: 0;
    }

    .text {
        width: calc(100% - 15px);
        text-align: center;
        position: initial;
        padding: 0;
    }

    .card {
        width: calc(50% - 30px);
        padding: 0 20px;
    }

}






@media (max-width: 600px) {

    header {
        background-image: url('./images/mobile/image-hero.jpg');
        background-position: center;
        background-repeat: no-repeat;
        height: 71vh;
        width: 100%;
        position: relative;

    }

    header nav {
        background-color: black;
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        background-color: white;
        padding: 20px;

    }

    header:hover .head {

        background-color: black;
        background-size: cover;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 71vh;
    }

    .head a {
        
        border: none;
        font-size: 25px;
    }


    header p {
        font-size: 50px;
        width: 420px;
        padding: 15px;
        margin-top: 100px;
    }

    .burger {
        cursor: pointer;
        display: initial;
    }

    main {
        padding: 15px;
    }

    .img {
        background-image: url('./images/mobile/image-interactive.jpg');
        width: calc(95vw -15px);
        padding: 0;
    }

    .card {
        width: 100%;
        padding: 15px;
    }

    .dontsea {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
    }

    .two {
        display: flex;
        justify-content: center;
    }

    .two button {
        display: none;

    }

    footer {

        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;

    }

    footer .center {

        display: flex;
        justify-content: center;
    }

    footer nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer a {
        padding-top: 15px;
    }

    footer .right .icon {
        display: flex;
        justify-content: center;

    }

    footer .right p {
        display: flex;
        justify-content: center;

    }

}