* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: none;
}

.left {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.left nav {
    width: 350px;
    display: flex;
    justify-content: space-between;

}


.feature-hover {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 30px;
    left: 0;

}

.feature-hover nav {
    display: flex;
    gap: 12px;


}

.feature-hover nav a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: black;

}


.navigation-one:hover .feature-hover {
    display: flex;
    flex-direction: column;
}


.navigation-one {
    position: relative;
}



.navigation-one img {
    position: absolute;
    right: 0;
    bottom: 50%;
    left: 55px;

}

.navigation-two {
    position: relative;

}

.navigation-two img {
    position: absolute;
    right: 0;
    bottom: 50%;
    left: 70px;

}

a {
    font-size: 17px;
    color: rgb(97, 95, 95);
    text-decoration: none;
}

.right {
    color: rgb(97, 95, 95);
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

header button {
    border-radius: 10px;
    border: 1px solid;
    border-color: gray;
    background-color: white;
    padding: 10px 20px;
}


main {

    margin-bottom: 400px;
    display: flex;
    padding: 20px 120px;
    gap: 5%;


}

.text {
    padding: 20px 0px;
    width: 50%;
}

h1 {
    margin-top: 100px;
    font-weight: bolder;
    font-size: 100px;
}

.width-600 {
    display: none;
}

h1 span {
    display: block;
}

.photo {
    border: 2px solid red;
    width: 50%;
    height: 100%;


}

.photo img {
    width: 100%;
}

.text p {
    padding-right: 60px;
    margin-top: 45px;
    color: gray;
    line-height: 1.7;
}

.text button {
    margin-top: 45px;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 15px 30px;
}

.text button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
}

@media (max-width: 600px) {
    .left nav {
        display: none;

    }

    .list {
        display: block;
    }

    .mobile-photo {
        background-image: url('./images/image-hero-mobile.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }

    .right {
        display: none;

    }

    h1 span {
        display: none;
    }

    .photo {
        width: 0%;
        display: none;
    }

    .text {
        width: 100%;
    }

    .width-600 {
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 50px;
    }

    main {
        padding: 0 0 0 0;
        text-align: center;
        margin: 0 0 0 0;
    }

    .text p {
        padding: 0 20px;
    }

    
}